<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patient Register</title>
    <link rel="stylesheet" href="../../static/select2/css/select2.min.css"
          th:href="@{~/select2/css/select2.min.css}"/>
    <link rel="stylesheet" href="../../static/css/commons.css"
          th:href="@{~/css/commons.css}"/>
</head>
<head th:replace="fragment/parts::head">
</head>
<body>
<header th:replace="fragment/parts::menu">
</header>
<main>
    <div class="container">
        <h1 class="h1">Patient Register Page</h1>
        <form method="post" th:object="${patientRegistrationModel}">

            <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-danger'">
                <label class="form-control-label" for="inputEmail">Email</label>
                <input type="email" class="form-control form-control-danger" id="inputEmail" th:field="*{email}"/>
                <div class="form-control-feedback" th:each="error : ${#fields.errors('email')}" th:text="${error}">
                    Sorry, that email is incorrect. Try another?
                </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('username')} ? 'has-danger'">
                <label class="form-control-label" for="inputUsername">Username</label>
                <input type="text" class="form-control form-control-danger" id="inputUsername" th:field="*{username}"/>
                <div class="form-control-feedback" th:each="error : ${#fields.errors('username')}" th:text="${error}">
                    Sorry, that username's taken. Try another?
                </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-danger'">
                <label class="form-control-label" for="inputPassword">Password</label>
                <input type="password" class="form-control form-control-danger" id="inputPassword"
                       th:field="*{password}"/>
                <div class="form-control-feedback" th:each="error : ${#fields.errors('password')}" th:text="${error}">
                    Sorry, that password is incorrect.
                </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('global')} ? 'has-danger'">
                <label class="form-control-label" for="inputConfirmPassword">Confirm Password</label>
                <input type="password" class="form-control form-control-danger" id="inputConfirmPassword"
                       th:field="*{confirmPassword}"/>
                <div class="form-control-feedback" th:each="error : ${#fields.errors('global')}" th:text="${error}">
                    Sorry, passwords are not matching.
                </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('firstName')} ? 'has-danger'">
                <label class="form-control-label" for="inputFirstName">First Name</label>
                <input type="text" class="form-control form-control-danger" id="inputFirstName"
                       th:field="*{firstName}"/>
                <div class="form-control-feedback" th:each="error : ${#fields.errors('firstName')}" th:text="${error}">
                    Sorry, that First name is incorrect. Try another?
                </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('lastName')} ? 'has-danger'">
                <label class="form-control-label" for="inputLastName">Last Name</label>
                <input type="text" class="form-control form-control-danger" id="inputLastName" th:field="*{lastName}"/>
                <div class="form-control-feedback" th:each="error : ${#fields.errors('lastName')}" th:text="${error}">
                    Sorry, that Last name is incorrect. Try another?
                </div>
            </div>

            

            <div class="form-group" th:classappend="${#fields.hasErrors('phone')} ? 'has-danger'">
                <label class="form-control-label" for="inputTelephoneNumber">Phone Number</label>
                <input type="tel" class="form-control form-control-danger" id="phone"
                       th:field="*{phone}"/>
                <div class="form-control-feedback" th:each="error : ${#fields.errors('phone')}"
                     th:text="${error}">
                    Sorry, that telephone number is incorrect.
                </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('date_birth')} ? 'has-danger'">
                <label class="form-control-label" for="inputDate_Birth">Date Of Birth</label>
                <input type="date" class="form-control form-control-danger" id="inputDate_Birth"
                       th:field="*{date_birth}"/>
                <div class="form-control-feedback" th:each="error : ${#fields.errors('date_birth')}"
                     th:text="${error}">
                    Sorry, that date is incorrect.
                </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('sex')} ? 'has-danger'">
                <label class="form-control-label">Sex</label>
                <br/>
                <label class="custom-control custom-radio">
                    <input id="gender-male" name="gender" type="radio" class="custom-control-input"
                           th:field="*{sex}" th:value="MALE"/>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Male</span>
                </label>
                <label class="custom-control custom-radio">
                    <input name="gender" type="radio" class="custom-control-input" th:field="*{sex}"
                           th:value="FEMALE"/>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Female</span>
                </label>
                <div class="form-control-feedback" th:each="error : ${#fields.errors('sex')}"
                     th:text="${error}">
                    Invalid gender.
                </div>
            </div>

            

            <div class="form-group" th:classappend="${#fields.hasErrors('age')} ? 'has-danger'">
                <label class="form-control-label" for="inputAddress">Age</label>
                <input class="form-control form-control-danger"  id="inputAddress"
                          th:field="*{age}"/>
                <div class="form-control-feedback" th:each="error : ${#fields.errors('age')}" th:text="${error}">
                    Sorry, that address is incorrect.
                </div>
            </div>
            
            <div class="form-group" th:classappend="${#fields.hasErrors('adress')} ? 'has-danger'">
                <label class="form-control-label" for="inputAddress">Address</label>
                <textarea class="form-control form-control-danger" rows="3" id="inputAddress"
                          th:field="*{adress}"></textarea>
                <div class="form-control-feedback" th:each="error : ${#fields.errors('adress')}" th:text="${error}">
                    Sorry, that address is incorrect.
                </div>
            </div>
            
            <div class="form-group" th:classappend="${#fields.hasErrors('city')} ? 'has-danger'">
                <label class="form-control-label" for="inputAddress">city</label>
                <textarea class="form-control form-control-danger" rows="3" id="inputAddress"
                          th:field="*{city}"></textarea>
                <div class="form-control-feedback" th:each="error : ${#fields.errors('city')}" th:text="${error}">
                    Sorry, that address is incorrect.
                </div>
            </div>

            <div class="float-right">
            
                
                <input type="submit" class="btn btn-secondary clickable" value="Register"/>
            </div>
        </form>
        <br/>
        <br/>
    </div>
</main>
<div th:replace="fragment/parts::scripts">
</div>
<script th:src="@{~/select2/js/select2.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        $("#inputDoctor").select2();
        $("#gender-male").attr('checked', 'checked');
        $("#inputDateOfBirth").val(new Date().toISOString().substr(0, 10));
    });

    $('#inputEmail').focusout(function () {
       $('#inputUsername').val($(this).val());
    });
</script>
</body>
</html>