<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragment/parts::head">

<title>Bootstrap Theme The Band</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
<header th:replace="fragment/parts::menu">
</header>




	<div id="myCarousel" class="carousel slide" data-ride="carousel">

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="css/images/bg_3.jpg" alt="New York" width="1200"
					height="700">
					<div class="centered"><h1><strong>Making Health Care Better Together</strong></h1></div>
			</div>
		</div>
	</div>




	<!-- Footer -->
	<footer class="text-center">

		<p>
			
				<h1>About us</h1>
		</p>
	</footer>
<header th:replace="fragment/parts::scripts">
</header>
	
</body>
</html>