<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Profile</title>
    <link rel="stylesheet" href="../../static/select2/css/select2.min.css"
          th:href="@{~/select2/css/select2.min.css}"/>
    <link rel="stylesheet" href="../../static/css/commons.css"
          th:href="@{~/css/commons.css}"/>
    <head th:replace="fragment/parts::head">
    </head>
</head>
<body>
<header th:replace="fragment/parts::menu">
</header>
<main>
    <div class="container">
        <h1 class="h1">Edit Profile</h1>

        <div>
            <div class="form-group">
                <img id="doctor-picture" height="250px" style="margin-bottom: 5px; border: 1px solid black;"
                     src="" alt=""/>
                <br/>
                <label class="form-control-label" for="img-1">Picture</label>
                <input type="file" class="form-control form-control-danger" id="img-1"/>
            </div>

            <button disabled="disabled" id="update-picture-btn" class="btn btn-secondary float-right">Change Picture</button>
            <br/>
        </div>

        <br/>
        <hr/>

        <form  th:object="${editDoctorModel}" 
			enctype="multipart/form-data" method="post">

				
				<div class="form-group"
					th:classappend="${#fields.hasErrors('f_namedoc')} ? 'has-danger'">
					<label class="form-control-label" for="inputFirstName">First
						Name</label> <input type="text" class="form-control form-control-danger"
						id="inputFirstName" th:field="*{f_namedoc}" />
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('f_namedoc')}"
						th:text="${error}">Sorry, that First name is incorrect. Try
						another?</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('l_namedoc')} ? 'has-danger'">
					<label class="form-control-label" for="inputLastName">Last
						Name</label> <input type="text" class="form-control form-control-danger"
						id="inputLastName" th:field="*{l_namedoc}" />
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('l_namedoc')}"
						th:text="${error}">Sorry, that Last name is incorrect. Try
						another?</div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('picture')} ? 'has-danger'">
					<label class="form-control-label" for="picture"> Picture
						</label> <input type="file" class="form-control form-control-danger"
						name="photo"  />
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('picture')}"
						th:text="${error}">Sorry, that Last name is incorrect. Try
						another?</div>
				</div>				

				<div class="form-group">
                <label class="form-control-label" for="inputDepartement">Departement</label>
                <select class="form-control form-control-danger" id="inputDepartement" th:field="*{departement}">
                    <option th:each="departement : ${departments}"
                            th:value="${departement.id_dep}" th:field="*{departement}"
                            th:text="${departement.name_dep}"></option>
                </select>
            </div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('phone')} ? 'has-danger'">
					<label class="form-control-label" for="inputTelephoneNumber">Phone
						Number</label> <input type="tel" class="form-control form-control-danger"
						id="inputTelephoneNumber" th:field="*{phone}" />
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('phone')}" th:text="${error}">
						Sorry, that telephone number is incorrect.</div>
				</div>


				<div class="form-group"
					th:classappend="${#fields.hasErrors('sex')} ? 'has-danger'">
					<label class="form-control-label">Gender</label> <br /> <label
						class="custom-control custom-radio"> <input
						id="gender-male" name="gender" type="radio" checked="checked"
						class="custom-control-input" th:field="*{sex}" th:value="MALE" />
						<span class="custom-control-indicator"></span> <span
						class="custom-control-description">Male</span>
					</label> <label class="custom-control custom-radio"> <input
						name="gender" type="radio" class="custom-control-input"
						th:field="*{sex}" th:value="FEMALE" /> <span
						class="custom-control-indicator"></span> <span
						class="custom-control-description">Female</span>
					</label>
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('sex')}" th:text="${error}">
						Invalid gender.</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('age')} ? 'has-danger'">
					<label class="form-control-label" for="inputAddress">Age</label> <input
						class="form-control form-control-danger" id="inputAddress"
						th:field="*{age}" />
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('age')}" th:text="${error}">
						Sorry, that address is incorrect.</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('adress')} ? 'has-danger'">
					<label class="form-control-label" for="inputAddress">Address</label>
					<textarea class="form-control form-control-danger" rows="3"
						id="inputAddress" th:field="*{adress}"></textarea>
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('adress')}" th:text="${error}">
						Sorry, that address is incorrect.</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('biography')} ? 'has-danger'">
					<label class="form-control-label" for="inputAddress">Biography</label>
					<textarea class="form-control form-control-danger" rows="3"
						id="inputAddress" th:field="*{biography}"></textarea>
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('biography')}"
						th:text="${error}">Sorry, that address is incorrect.</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('etude_degree')} ? 'has-danger'">
					<label class="form-control-label" for="inputAddress">Address</label>
					<textarea class="form-control form-control-danger" rows="3"
						id="inputAddress" th:field="*{etude_degree}"></textarea>
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('etude_degree')}"
						th:text="${error}">Sorry, that address is incorrect.</div>
				</div>

				<div class="float-right">
					 <input	type="submit" class="btn btn-secondary clickable" value="Register" />
				</div>
			</form>
        <br/>
        <br/>
    </div>
</main>
<div th:replace="fragment/parts::scripts">
</div>
<script th:src="@{~/select2/js/select2.min.js}"></script>
<script th:src="@{~/js/util/requester.js}" src="../../static/js/util/requester.js"></script>
<script type="text/javascript" th:inline="javascript">
    var app = app || {};
    var requester = requester || app.requester.load();

    $(document).ready(function () {
        $("#inputSettlePoint").select2();
        getDoctorImage();
    });

    $('#update-picture-btn').click(function () {
        updateDoctorImage();
    });

    $('#img-1').change(function () {
        $('#update-picture-btn').removeAttr('disabled');
    });

    function updateDoctorImage() {
        var imgFile = $('#img-1')[0].files[0];
        if (!imgFile) {
            return;
        }

        var data = new FormData();

        data.append('img-1', imgFile);

        $('#img-1').val('');

        $('#update-picture-btn').attr('disabled','disabled');

        $.ajax({
            dataType: 'text',
            url: '/doctor/edit-picture',
            data: data,
            type: "POST",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            beforeSend: function (xhr) {
//                var token = $("meta[name='_csrf']").attr("content");
//                var header = $("meta[name='_csrf_header']").attr("content");
//                xhr.setRequestHeader(header, token);
            },
            success: function (result) {
                getDoctorImage();
            },
            error: function (error) {
                //
            }
        });
    }

    function getDoctorImage() {
        requester.get('/doctor/picture').then(
            function (data) {
                $('#doctor-picture').attr('src', data.picturePath);
            }
        );
    }
</script>
</body>
</html>