<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Doctor Register</title>
<link rel="stylesheet" href="../../static/select2/css/select2.min.css"
	th:href="@{~/select2/css/select2.min.css}" />
<link rel="stylesheet" href="../../static/css/commons.css"
	th:href="@{~/css/commons.css}" />
</head>
<head th:replace="fragment/parts::head">
</head>
<body>
	<header th:replace="fragment/parts::menu"> </header>
	<main>
		<div class="container">
			<h1 class="h1">Doctor Register Page</h1>
			<form  th:object="${doctorRegistrationModel}" 
			enctype="multipart/form-data" method="post">

				<div class="form-group"
					th:classappend="${#fields.hasErrors('email')} ? 'has-danger'">
					<label class="form-control-label" for="inputEmail">Email</label> <input
						type="email" class="form-control form-control-danger"
						id="inputEmail" th:field="*{email}" />
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('email')}" th:text="${error}">
						Sorry, that email is incorrect. Try another?</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('username')} ? 'has-danger'">
					<label class="form-control-label" for="inputUsername">Username</label>
					<input type="text" class="form-control form-control-danger"
						id="inputUsername" th:field="*{username}" />
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('username')}" th:text="${error}">
						Sorry, that username's taken. Try another?</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('password')}? 'has-danger'">
					<label class="form-control-label" for="inputPassword">Password</label>
					<input type="password" class="form-control form-control-danger"
						id="inputPassword" th:field="*{password}" />
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('password')}" th:text="${error}">
						Sorry, that password is incorrect.</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('global')} ? 'has-danger'">
					<label class="form-control-label" for="inputConfirmPassword">Confirm
						Password</label> <input type="password"
						class="form-control form-control-danger" id="inputConfirmPassword"
						th:field="*{confirmPassword}" />
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('global')}" th:text="${error}">
						Sorry, passwords are not matching.</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('f_namedoc')} ? 'has-danger'">
					<label class="form-control-label" for="inputFirstName">First
						Name</label> <input type="text" class="form-control form-control-danger"
						id="inputFirstName" th:field="*{f_namedoc}" />
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('f_namedoc')}"
						th:text="${error}">Sorry, that First name is incorrect. Try
						another?</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('l_namedoc')} ? 'has-danger'">
					<label class="form-control-label" for="inputLastName">Last
						Name</label> <input type="text" class="form-control form-control-danger"
						id="inputLastName" th:field="*{l_namedoc}" />
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('l_namedoc')}"
						th:text="${error}">Sorry, that Last name is incorrect. Try
						another?</div>
				</div>
				<div class="form-group"
					th:classappend="${#fields.hasErrors('picture')} ? 'has-danger'">
					<label class="form-control-label" for="picture"> Picture
						</label> <input type="file" class="form-control form-control-danger"
						name="photo"  />
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('picture')}"
						th:text="${error}">Sorry, that Last name is incorrect. Try
						another?</div>
				</div>				

				<div class="form-group">
                <label class="form-control-label" for="inputDepartement">Departement</label>
                <select class="form-control form-control-danger" id="inputDepartement" th:field="*{departement}">
                    <option th:each="departement : ${departments}"
                            th:value="${departement.id_dep}" th:field="*{departement}"
                            th:text="${departement.name_dep}"></option>
                </select>
            </div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('phone')} ? 'has-danger'">
					<label class="form-control-label" for="inputTelephoneNumber">Phone
						Number</label> <input type="tel" class="form-control form-control-danger"
						id="inputTelephoneNumber" th:field="*{phone}" />
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('phone')}" th:text="${error}">
						Sorry, that telephone number is incorrect.</div>
				</div>


				<div class="form-group"
					th:classappend="${#fields.hasErrors('sex')} ? 'has-danger'">
					<label class="form-control-label">Gender</label> <br /> <label
						class="custom-control custom-radio"> <input
						id="gender-male" name="gender" type="radio" checked="checked"
						class="custom-control-input" th:field="*{sex}" th:value="MALE" />
						<span class="custom-control-indicator"></span> <span
						class="custom-control-description">Male</span>
					</label> <label class="custom-control custom-radio"> <input
						name="gender" type="radio" class="custom-control-input"
						th:field="*{sex}" th:value="FEMALE" /> <span
						class="custom-control-indicator"></span> <span
						class="custom-control-description">Female</span>
					</label>
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('sex')}" th:text="${error}">
						Invalid gender.</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('age')} ? 'has-danger'">
					<label class="form-control-label" for="inputAddress">Age</label> <input
						class="form-control form-control-danger" id="inputAddress"
						th:field="*{age}" />
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('age')}" th:text="${error}">
						Sorry, that address is incorrect.</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('address')} ? 'has-danger'">
					<label class="form-control-label" for="inputAddress">Address</label>
					<textarea class="form-control form-control-danger" rows="3"
						id="inputAddress" th:field="*{address}"></textarea>
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('address')}" th:text="${error}">
						Sorry, that address is incorrect.</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('biography')} ? 'has-danger'">
					<label class="form-control-label" for="inputAddress">Biography</label>
					<textarea class="form-control form-control-danger" rows="3"
						id="inputAddress" th:field="*{biography}"></textarea>
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('biography')}"
						th:text="${error}">Sorry, that address is incorrect.</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('etude_degree')} ? 'has-danger'">
					<label class="form-control-label" for="inputAddress">Address</label>
					<textarea class="form-control form-control-danger" rows="3"
						id="inputAddress" th:field="*{etude_degree}"></textarea>
					<div class="form-control-feedback"
						th:each="error : ${#fields.errors('etude_degree')}"
						th:text="${error}">Sorry, that address is incorrect.</div>
				</div>

				<div class="float-right">
					 <input	type="submit" class="btn btn-secondary clickable" value="Register" />
				</div>
			</form>
			<br /> <br />
		</div>
	</main>
	<div th:replace="fragment/parts::scripts"></div>
	<script th:src="@{~/select2/js/select2.min.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(
				function() {
					// $("#inputSettlePoint").select2();
					$("#gender-male").attr('checked', 'checked');
					$("#inputDateOfBirth").val(
							new Date().toISOString().substr(0, 10));
					$("#inputStartPracticeDate").val(
							new Date().toISOString().substr(0, 10));
				});

		$('#inputEmail').focusout(function() {
			$('#inputUsername').val($(this).val());
		});
	</script>
</body>
</html>